*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-size: 1rem;
    
}

div /*BORRAR */
{
    border: 1px solid red;
}

#logo_contenedor
{
    display: inline-block;
}

#index_form
{
    text-align: center; 
    margin-top: 30px;    
}

#logo
{    
    width: 120px;
    height: 150px;
    margin: 10px;
}

#herramientas_usuario
{
    padding-top: 20px;
    float: right;
    display: inline-block;
}

#herramientas_usuario_imagenUsuario
{
    width: 50px;
    height: 50px;
}

#contenedor_boton_regresar
{
    text-align: left;
    margin-top: 3px;
}

#filtros_mes_anio
{
    margin-top:40px ;    
    text-align: center;
    color: darkslategray;
    font-weight: bold;
}

/*
#titulo_accion
{
    color: white;
    font-weight: bold;
    padding: 5px;
    background-color:cornflowerblue;
}
*/

#operacion_ok
{
    color: dodgerblue;
    text-align: center;
    width: 100%;
    display: block;
    font-weight: bold;
    font-size: x-large;
    margin-top: 40px;
    border: 5px solid;
}

#operacion_error
{
    color: red;
    text-align: center;
    width: 100%;
    display: block;
    font-weight: bold;
    font-size: x-large;
    margin-top: 40px;
    border: 5px solid;
}

.boton{
    border-radius: 5px 2px;
    border: 0cm;
    padding: 10px;
    margin-top: 10px;
    background-color:darkcyan;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.boton:hover
{
    background-color:deepskyblue ;
}

.botonSubmit
{
    border-radius: 5px 2px;
    border: 0cm;
    padding: 10px;
    margin-top: 10px;
    background-color:darkcyan;
    color: white;
    font-weight: bold;
    cursor: pointer;

}

.botonSubmit:hover
{
    background-color:deepskyblue ;
}

#tabla_datos_actividades /* TABLA SUPERIOR */
{
    margin-top: 50px;
    width: 100%;
    display: grid;
    place-content: center;
}

#tabla_descripcion_actividades /* TABLA INFERIOR */
{
    margin: 30px 0;
    width: 100%;
    display: grid;
    place-content: center;
}

.tabla_descripcion_actividades_actividad
{   
    font-size: large;
    padding: 0 5px ;
}

.herramientas_usuario_texto
{
    color: darkslategray;
    font-weight: bold;
}

.campoTexto
{
    margin: 5px;
    border-radius: 6px;
    height: 44px;

}

.msj_error
{
    display: block;
    color:crimson;
    padding-top: 10px;
    font-weight: bold;
}

.tabla_datos_td_dias_mes
{
    background-color: orange;
    width:35px;
    padding: 5px;
    text-align: center;    
    font-weight: bold;
}

.tabla_datos_td_dia_horas
{
    background-color: lightseagreen;
    text-align: center;    
    font-weight: bold;
    text-decoration: underline;
}

.tabla_datos_actividades_titulo
{
    background-color:cadetblue;
    text-align: center;
    font-weight: bold;
    font-size: large;
    color: white;
    padding: 5px;
}

.tabla_datos_actividades_proyectos
{
    background-color:lightsteelblue; 
    text-align: center;
    font-weight: bold;
    font-size: large;
    padding: 0 5px ;
}

.tabla_datos_actividades_td_total_horas
{
    background-color:lightgray;
    text-align: center;
    font-weight: bold;
}


.icono_navegacion
{
    width: 30px;
    height: 30px;    
}

.icono_navegacion:hover
{
    background-color:orange;
}

.index_form_label_campo_formulario
{
    display: block;
    background-color:lightsteelblue; 
    text-align: center;
    font-weight: bold;
    font-size: large;
    margin-top: 15px;
    margin-bottom: 3px;    
    padding: 7px 0px;
}

body
{
    background-color:#f0f2f5;
}

a
{
    text-decoration: none;
    color: darkslategray;

}

form
{
    border-radius: 15px;
    display: inline-block;
    width: 500px;        
    padding: 10px;
    background-color: white;
    
}

/*
label
{
    text-align:center;
    display: block;
    margin-top: 15px;
    margin-bottom: 3px;
    background-color:khaki;
    padding: 7px 0px;
}
*/